@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* .work-sans-<uniquifier> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 1320px;
    height: 600px;
    background:  linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) , url("images/Banner\ Image.png");
    background-position: center;
    background-repeat: no repeat;
    margin: 50px auto 120px;
    text-align: center;
    align-content: center;
}
.banner-subtitle{
    color: white;
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
line-height: 40px;
text-align: center;
margin-bottom: 16px;
}
.banner-title{
    color: white;
    font-family:"Work Sans", serif;
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
width: 630px;
height: 190px;
margin: auto;
}
/* banner complete */
/* main body start */
/* section one css start */
.section-one-container{
    width: 803px;
    height: 806px;
    text-align: center;
    margin: auto;
}
.section-one-offer{
    font-size:88px ;
    font-weight: 700px;
    line-height:107px ; 
    margin-bottom: 48px;
    color: red;
}
.section-one-subtitle{
    font-size: 24px;
    font-weight: 500px;
    line-height: 29px;
    margin-bottom: 16px;
    color: red;
}
.section-one-category{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 48px;
    font-family: sans-serif;
}
.section-one-pic{
    width: 803px;
    height: 500px;
    margin-bottom: 120px;
}
/* section-one done */
.section-two{
    background: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    background-position: center;
    margin: auto;
    border-radius: 10px;
}
.section-two-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}
.section-two-title{
    color: white;
    width: 662px;
    height: 176px;
  
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}
.section-two-subtitle{
    color: rgba(255, 255, 255, 0.8);
    width: 670px;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;

}
.section-tow-btn{
   margin-top: 48px;
   margin-left: 50px;
}
.join-now-btn{
    color: white;
    background:none;
    border: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.section-two-2024{
    margin-top: 76px;
    margin-left: 40px;
}
/* section css done */
/* section three start */
.section-three{
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    margin: 120px auto 0px;
    border-radius: 16px;
    text-align: center;
    align-content: center;
}
span{
    color: red;
}
.address{
font-size: 32px;
font-weight: 600;
line-height: 56px;
font-family: sans-serif;
letter-spacing: 0;
}

.section-three-join{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: red;
    padding: 16px 32px;
    text-align: center;
    border-radius: 5px;
    margin-top: 48px;
}
/* section three done */
/* section four start */
.section-four{
    width:1320px ;
    height:463px ;
    display: flex;
    justify-content:space-around;
    margin: auto;
    align-items: center;
    
    
    
}
.left-side-content{
    width: 300px;
    height: 295px;
    
}
.middle-conten{
width: 463px;
height: 463px;
text-align: center;
border: 15px solid red;
align-content: center;
border-radius: 50%;
display: inline-block;
box-sizing: border-box;
padding: 20px;
}
.right-side-content{
 width:276px;
 height: ;
 
}
.left-side-subtitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    color: red;
    margin-bottom: 16px;
    font-family: sans-serif;

}
.left-side-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 22px

}
.section-four-description-1{
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    width: 390px;
}
.section-four-description-2{
    width: 276px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 46px;
}
.right-side-date{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: red;
    font-family: sans-serif;
}
/* section four done */
/* section five start */
.section-five{
    width: 1320px;
    height: 987px;
   
    margin: 120px auto 0pc;
    
}
.section-five-content{
    width: 1068px;
    height: 260px;
    margin: 0px auto;
    text-align: center;
}
.section-five-subtitle{
    line-height:29px ;
    font-size:24px ;
    font-weight:500 ;
    margin-bottom: 16px;

}
.section-five-title{
    line-height:91px ;
    font-size:72px ;
    font-weight:900 ;
    margin-bottom: 28px;
}
.section-five-description{
    line-height:32px ;
    font-size:20px ;
    font-weight:500 ;
    color:  rgba(7, 2, 17, 0.6);
}
.section-five-pic-container{
    background-image: url("images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 663px;
    width: 1320px;
    align-content: center;
    justify-content: space-around;
    display: flex;
    margin-top:70px;
}
/* section five done */
/* section six start */
.section-six{
    width: 1320px;
    height: auto;
    margin: 100px auto 20px;
    
}
.section-six-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.section-six-subtitle{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: red;
    margin-bottom:16px;
}
.section-six-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 22px;
}
.section-six-description{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
    width: 896px;
}
/* section six done */
/* section seven strat */
.section-seven{
    height: 616px;
    width: 1320px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 20px;
    margin: 120px  auto;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}
.section-seven-content{
    text-align: center;
}
.section-seven-icon{
    margin-bottom: 40px;
}
.section-seven-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 22px;
}
.section-seven-description{
    width: 896px;
    height: 64px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    /* text-align: center; */
    
    margin:0px auto 48px;
}
.section-seven-input{
    
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
width: 648px;
height: 72px;
border-radius: 50px 0 0 50px;
background-color: white;
border: none; padding-left: 20px;
}
.submit{
    width: 210px;
    height: 72px;
    border-radius: 0 50px 50px 0px;
    border: none;
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.submit:hover{
    background: darkred;
}
/* section seven done */
/* footer part start */
 .footer{
    background-color: rgb(5, 0, 26);
    width: 100%;
    height: 609px;
    color: rgba(255, 255, 255, 0.647);
 }
 .first-row{
display: flex;
justify-content: space-around;
align-items: center;
margin:40px auto 40px;
padding-top: 100px;


 }
 .adress-2{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
 }
 .footer-icon{
    text-align: center;
  
 }
 .footer-icon img{
    margin: 30px 20px;
    border: 1px dashed white;
    
 }
 hr{
    color: rgba(255, 255, 255, 0.074);
 }
 .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
 }
 address{
    font-size: 24px;
 }